/* Fonts START */
@font-face {
	font-family: 'ubuntu';
	src: local('ubuntu Bold'), local('ubuntu-Bold'),
		url('../fonts/ubuntu-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ubuntu';
	src: local('ubuntu Light'), local('ubuntu-Light'),
		url('../fonts/ubuntu-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ubuntu';
	src: local('ubuntu Medium'), local('ubuntu-Medium'),
		url('../fonts/ubuntu-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ubuntu';
	src: local('ubuntu'), local('ubuntu-Regular'),
		url('../fonts/ubuntu-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* Fonts END */


/* Global Styles START */
:root {}
* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'ubuntu';
	color: #000;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
	font-weight: 400;
}

input, label, textarea, button {
	font-family: 'ubuntu';
	outline: none;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

input, textarea, div {
	box-sizing: border-box;
}
ul {
	margin: 0;
}
a {
	text-decoration: none;
}
.uppercase {
	text-transform: uppercase;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
/* Global Styles END */